{
  "presets": ["es2015"],
  "plugins": [
        "transform-decorators-legacy",
        "transform-object-rest-spread",
        "transform-async-to-generator",
        "transform-exponentiation-operator",
        ["transform-runtime", {
            "polyfill": false,
            "regenerator": true
        }]
  ]
}
